[Unit]
Description=Grafana Agent

[Service]
ExecStart=/usr/local/bin/grafana-agent-linux-amd64 -config.file /etc/grafana-agent-config.yaml -enable-features=integrations-next -config.expand-env -disable-reporting
Restart=always

[Install]
WantedBy=multi-user.target
