instance_name = {{ server_name }}

[security]
admin_user = {{ grafana_admin_username }}
admin_password = {{ grafana_admin_password }}

[explore]
enabled = true

[users]
default_theme = dark

[log]
level = warn
