server {
    listen 80;
    server_name {{ nginx_server_name }};
 
    location / {
        root /var/www/{{ nginx_root_location }};
        index index.html index.htm;

        try_files $uri $uri/ =404;

        {{ nginx_location_extra_settings }}
    }
}
